#narrowScreen {
    color: purple ;
}

#wideScreen{
    color:red ;
}
#shortScreen{
    color: turquoise ;
}
#tallScreen{
    color:lavender ;
}

@media only screen and (min-width: 600px) {
    #narrowScreen {
        color: green;
    }
}

@media only screen and (min-width: 800px) {
    #wideScreen {
        color: lightblue;
    }
}

@media only screen and (max-width: 500px) {
    #shortScreen {
        color: yellow;
    }
}

@media only screen and (min-height: 800px) {
    #tallScreen {
        color: orange;
    }
}